@media screen and (max-width: 767px){
    
/* Hides side navbar and About image */
.navBar, .bioImage {
  display: none;
}
  
/* Top box with my name inside */
.nameBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 5px;
  background: #3a2e42;
}
 
/* Dropdown navbar menu button */
.navSmall {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  height: 40px;
  width: 100%;
  background: #ccc;
  font-family: 'Abel', sans-serif;
  text-align: center;
  z-index: 3;
}
 
/* Navbar link font info */
.linkFont {
  font-family: 'Rajdhani', sans-serif;
  color: #777777;
  font-size: 20px;
  line-height: 40px;
}
  
/* My name font info */
h1 {
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  font-size: 35px;
  color: #fff;
}

/* Main body header info */
h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  color: #3a2e42;
  font-weight: bold;
  line-height: 35px;
}

/* Title font for resume companies */
h3 {
  color: #777;
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  font-weight: normal;
}

/* Dates worked or graduated on resume */
h4 {
  color: #777;
  margin-left: 13px;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

/* Page location slash font info */
h6 {
  font-family: 'Rajdhani', sans-serif;
  color: #3a2e42;
  font-size: 25px;
  font-weight: bold;
  display: inline;
}

.container {
align-items: center;
margin: auto;
}

/* Color and scale for main content page box */
.bodyBox {
  background: #cacaca;
  width: 90%;
  padding: 40px;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 65px;
  color: #777777;
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  line-height: 22px;
  z-index: 1;
}

/* Background image setup */
body {
  background-image: url("https://github.com/vkaszuba/01-portfolio/blob/master/assets/images/logo-vk.png?raw=true");
  background-color: #2c2c2c;
  background-size: 600px;
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/* End Media tag */
}


@media screen and (max-width: 360px){

/* My name font info */
h1 {
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  font-size: 29px;
  color: #fff;
  margin-top: 5px;
}

/* Navbar link font info */
.linkFont {
  font-family: 'Rajdhani', sans-serif;
  color: #777777;
  font-size: 20px;
  line-height: 40px;
}
.container {
  align-items: center;
  margin: auto;
  }

  /* Color and scale for main content page box */
.bodyBox {
  background: #cacaca;
  width: 90%;
  padding: 40px;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 65px;
  color: #777777;
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  line-height: 22px;
  z-index: 1;
}

}