
/* Hides side navbar and About image */
.navSmall {
  display: none;
}

/* Links bar inside the header */
.navBar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  max-height: 100%;
  background: #cacaca;
  font-size: 40px;
  width: 180px;
  padding: 15px;
  padding-top: 110px;
  line-height: 50px;
  z-index: 1;
}

/* Top box with my name inside */
.nameBox {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 15px;
  padding-left: 25px;
  background: #3a2e42;
  z-index: 3;
}

/* Style for the page change links */
.linkFont {
  font-family: 'Rajdhani', sans-serif;
  color: #777777;
  font-size: 28px;
  padding: 10px;
}

/* My name font info */
h1 {
  font-family: 'Rajdhani', sans-serif;
  text-align: left;
  font-size: 55px;
  color: #fff;
}

/* Main body header info */
h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 40px;
  color: #3a2e42;
  font-weight: bold;
}

/* Title font for resume companies */
h3 {
  color: #777;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  font-weight: normal;
}

/* Dates worked or graduated on resume */
h4 {
  color: #777;
  margin-left: 13px;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  font-weight: normal;
}

/* Style for // by nav links*/
h6 {
  font-family: 'Rajdhani', sans-serif;
  color: #3a2e42;
  font-size: 30px;
  font-weight: bold;
  display: inline;
}

.container {
  margin: 0;
  margin-left: 200px;
}

/* Color and scale for main content page box */
.bodyBox {
  background: #cacaca;
  padding: 40px;
  width: 100%;
  margin-bottom: 90px;
  margin-top: 90px;
  color: #777777;
  font-size: 25px;
  font-family: 'Abel', sans-serif;
  line-height: 32px;
  z-index: 1;
}

.profileImage {
  width: 100%;
}

/* About Me image style */
.bioImage {
  float: left;
  width: 450px;
  margin-right: 30px;
  margin-bottom: 20px;
}

/* Style for social media icons */
.socialMediaImage {
  width: 25px;
  display: inline;
  margin-left: 4px;
  margin-right: 4px;
  border: 0;
  outline: none;
}

/* Removes underline from links in anything that uses <a> tag */
a, a:hover, a:focus {
  text-decoration: none!important;
  color: #777;
}

/* Background image setup */
body {
  background-image: url("https://github.com/vkaszuba/01-portfolio/blob/master/assets/images/logo-vk.png?raw=true");
  background-color: #2c2c2c;
  background-size: 1100px;
  background-attachment: fixed;
  background-position: right bottom;
  padding-top: 40px;
  background-repeat: no-repeat;
}

  /* Footer color info */
footer {
  height: 45px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #3a2e42;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

  /* Font in footer info */
.copyrightFont {
  color: #fff;
  margin-left: 10px;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  display: inline;
}


/* Style for the contact text boxes */
input[type=text], select, textarea {
  width: 96%;
  padding: 15px;
  border: 1px solid #ccc;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  border-radius: 0;
  border: 0;
  outline: 0;
  resize: vertical;
}

/* Attributes for Submit button */
input[type=submit] {
  background-color: #3a2e42;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0;
  border: 0;
}

/* Attributes for hover over Submit button */
input[type=submit]:hover {
  background-color: #777777;
}

/* Resume skills two column list */
ul {
  columns: 2;
}